{% extends "::frontend.html.twig" %}
{% block content %}
  <article>
    <header>
      <h2><a href="{{ path('_planet_report') }}">Informes del sitio</a></h2>
    </header>

    <p>A continuación puedes ver los diferentes informes generados para el planeta</p>

    <h3><a href="{{ path('_blog_report') }}">Ritmo de entradas publicadas</a></h3>

    <p>
      Este informe muestra el número de elementos publicados, en diferentes periodos de tiempo.
    </p>

    <h3><a href="{{ path('_planet_report_link_rate') }}">Ritmo de publicación por fuente</a></h3>

    <p>
      Este informe muestra el número de entradas publicadas por cada fuente durante cada uno de los últimos seis meses.
    </p>

    <h3><a href="">Entradas no relacionadas</a></h3>

    <p>
      Este informe muestra aquellas entradas que fueron marcadas como no relacionadas.
    </p>

    <h3><a href="{{ path('_planet_report_link_list') }}">Entradas publicadas por fuente</a></h3>

    <p>
      Este informe permite consultar que entradas fueron recogidas de cada una de las fuentes.
    </p>

    <h3><a href="{{ path('_planet_report_links_status') }}">Estado de las fuentes</a></h3>

    <p>
      Este informe muestra el estado en función de si la respuesta pudo ser procesada de cada una de las fuentes.
      Puedes consultar tambien el tiempo que tardó en procesarse cada una de ellas.
    </p>
  </article>

{% endblock %}