{% extends "::frontend.html.twig" %}
{% block content %}
<article >
    <header>
        <h2>Informe de estado</h2>
    </header>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th colspan="6">Últimos 6 meses desglosado</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for item in results%}
                <tr>
                    <td><a href="{{ item.url }}" target="_blank">{{ item.name }}</a></td>
                    <td>{{ item.months.0 }}</td>
                    <td>{{ item.months.1 }}</td>
                    <td>{{ item.months.2 }}</td>
                    <td>{{ item.months.3 }}</td>
                    <td>{{ item.months.4 }}</td>
                    <td>{{ item.months.5 }}</td>
                    <td>{{ item.total }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </article>
{% endblock %}
