<h2>{{ subject }}</h2>
<p><strong>Remitente</strong>: {{ name }}, &lt;<a href="mailto:{{ email }}">{{ email }}</a>&gt;</p>
<p><strong>Titulo</strong>: {{ title }} </p>
<p><strong>URL</strong>: {{ url }} </p>
<p><strong>RSS</strong>: {{ rss }} </p>
<p><strong>Description</strong>: {{ description | raw }} </p>
