{% extends "::frontend.html.twig" %}
{% block meta %}<meta name="robots" content="noindex">{% endblock %}
{% block title %} Informar de contenido no relacionado {% endblock %}
{% block content %}    
<article>
    <header>
        <h2><a rel="nofollow" href="{{ url('_unrelated', {'slug': post.slug })}}"> Informar de contenido no relacionado</a></h2>
    </header>

    <p>
        Si usted cree que el contenido no es apropiado o no está relacionado con la
        tematica del blog, envíe el siguiente formulario.        
    </p>

    <p>
        Queremos mantener centrada la temática del planeta, por eso necesitamos la ayuda 
        los usuarios de planet ubuntu, para detectar entradas que no deberían aparecer en 
        el sitio.        
    </p>

    <p>
        Los propietarios de los sitios que envien entradas no relacionadas, serán avisados
        y si el problema persiste, serán eliminados de la lista de blogs miembros.
    </p>


    <form id="contact" action="{{ url('_unrelated', {'slug': post.slug }) }}" method="post" {{ form_enctype(form) }}>
            {% if form_errors(form) %} 
            <div class="alert alert-error">{{ form_errors(form) }}</div>
            {% endif %}                        
            <p>
                <label for="">(*)¿Eres humano?</label>
            {% if form_errors(form.captcha) %} 
            <div class="alert alert-error">{{ form_errors(form.captcha) }}</div>
            {% endif %}                
            {{ form_widget(form.captcha, { 'attr': {'class': 'captcha'}} ) }}
            </p>   
            <button class="btn" type="submit">Confirmar</button>
            {{ form_rest(form) }}
        </form>
    </article>
{% endblock %}